10.cnn/                   
9.handlingimbalance/
GD_using_TF_Scratch/
5.sgd_vs_gd/             
Handwritten digits classification/
6.gpu_benchmarking/      
Loss Functions in Scratch/
7.churn_prediction_ANN/  
NN from scratch/
8.dropout_layer/